<div ng-model="profileContainer" 
	 class="profileContainer">

	<fieldset class="profile">
		<a ui-sref="home.users" 
		   class="xButton">X</a>
				
		<div class="header">{{currentUser.lastName+ ", " + currentUser.firstName}}</div>
		<hr>

		<table class="userData">
			<tr>
				<th>Phone:</th>
				<th>Email:</th>
			</tr>
			<tr>
				<td>{{currentUser.phone}}</td>
				<td>{{currentUser.email}}</td>
			</tr>
		</table>
		<a ui-sref="home.users.edit"
		   id="editButton">Edit</a>
	</fieldset>
</div>
