<div ng-model="profileContainer" 
	 class="profileContainer">

	<fieldset class="profile">
		<a ui-sref="home.users" 
		   class="xButton">X</a>
		
		<div class="header">{{"Edit: " + user.lastName + ", " + user.firstName}}</div>
		<hr>

		<small>*Email field cannot be modified</small>

		<form name="form" ng-submit="editUser(user)">
			<table class="userData">
				<tr>
					<th>First Name:</th>
					<th>Last Name:</th>
				</tr>
					<td><input type="text" ng-model="user.firstName" placeholder="{{user.firstName}}"></td>
					<td><input type="text" ng-model="user.lastName" placeholder="{{user.lastName}}"></td>
				<tr>
				</tr>
				<tr>
					<th>Phone:</th>
				</tr>
				<tr>
					<td><input type="tel" ng-model="user.phone" placeholder="{{user.phone}}"></td>
				</tr>
			</table>

			<button ng-click="clearForm()"
					class="editButton">Clear</button>
			<input type="submit" value="Apply">
		</form>
	</fieldset>
</div>
