<div class="row">
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					Users
					<a ui-sref="home.users.new"
				   class="btn btn-success btn-xs pull-right">
				   		<span class="glyphicon glyphicon-plus"></span>
					</a>
				</h3>
			</div>
			<div class="panel-body panel-info">
				<filters-panel></filters-panel>
				<user-accordion></user-accordion>
			</div>
		</div>
	</div>

	<div class="col-md-9">
		<div ui-view></div>
	</div>
</div>
