<div ng-model="profileContainer" 
	 class="profileContainer">

	<fieldset class="profile">
		<a ui-sref="home.users" 
		   class="xButton">X</a>
		
		<div class="header">Edit</div>
		<hr>

		<table class="userData">
			<tr>
				<th>First Name:</th>
				<th>Last Name:</th>
			</tr>
				<td><input type="text" placeholder="First name"></td>
				<td><input type="text" placeholder="Last name"></td>
			<tr>
			</tr>
			<tr>
				<th>Phone:</th>
				<th>Email:</th>
			</tr>
			<tr>
				<td><input type="tel" placeholder="(xxx)xxx-xxxx"></td>
				<td><input type="email" placeholder="name@domain.com"></td>
			</tr>
		</table>

		<a ui-sref="home.users.profile"
		   id="doneButton">Done</a>
	</fieldset>
</div>
