<div class="col-md-8">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h1 class="panel-title">
				<b>{{user.firstName + " " + user.lastName}}</b>
				<a ui-sref="users" 
		   		   class="close">
		   		   <span class="glyphicon glyphicon-remove"></span>
		   		</a>
		   </h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Phone</h3>
						</div>
						<div class="panel-body">
							{{user.phone}}
						</div>
					</div>
				</div>

				<div class="col-md-8">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Email</h3>
						</div>
						<div class="panel-body">
							{{user.email}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer panel-info">
				<a ui-sref="users.edit({id: user._id})" 
				   class="btn btn-warning pull-right">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
		  		<button type="button" class="btn btn-danger" ng-click="deleteUser(user)">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
		</div>
	</div>
</div>
