body {
	font-family: sans-serif;
	background: lightgray;
}

a {
	text-decoration: none;
}

hr {
	margin: 0em .5em;
}

td {
	padding: 0em .5em .5em .5em;
	margin: 2em;
}

.header {
	margin: .25em .125em .125em .125em;

	font-weight: bold;
	font-size: x-large;
}

.xButton {
	display: inline;
	position: relative;

	right: .75em;
	bottom: .75em;

	border: none;
		border-radius: 1em;
	padding: .25em .625em .25em .5em;

	background: lightcoral;

	font-size: xx-small;
	color: black;
}