body {
	font-family: sans-serif;
	background: lightgray;
}

.maxProfile {
	font-family: sans-serif;
	display:inline-block;
	position:absolute;
	width: 33.3%;
	top: 12.5%;
	left: 33.3%;
}

.minProfile {
	font-family: sans-serif;
	float: left;
	display: inline;
	position: fixed;
	top: 0em;
	left: 0em;
}

.maxFieldset {
	margin: auto;
	border: 2px solid aliceblue;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 1px 1px 5px darkgray;
	background: azure;
}
	
.minFieldset {
	border: 2px solid aliceblue;
	border-radius: 0px 0px 20px 20px;
	box-shadow: 1px 1px 5px darkgray;
	background: azure;
}

.profileHead {
	width: 100%;
	padding: 0em .25em .25em 0em;
	margin: 0px;
	display: inline-block;
}

.userId {
	display: inline;
	padding: 0em 0em 0em .5em;
	position: relative;
}

button {
	background: lightcoral;
	padding:0em 1em .5em .5em;
	border-radius: 0px 0px 20px 0px;
	border-right: none;
	border-bottom: none;
	border-left: 2px solid aliceblue;
	border-top: 2px solid aliceblue;
	float:right;
	position: relative;
	left: 1.05em;
	top: .9em;
	font-weight: bold;
}

hr {
	padding: 0px;
	margin: 0px;
	width: 100%;
}

td {
	padding: 0em .5em .5em .5em;
	margin: 2em;
}

label {
	font-weight: bold;
}