#usersList {
	margin: .5em;
	border: .0625em solid lightgray;
		border-radius: 1em 1em 0em 0em;
	padding: 0em;

	position: absolute;
	top: 5%;

	height: 95%;
	width: 20%;

	box-shadow: 0em 0em .5em darkgray;

	background: aliceblue;
	text-align: center;
}

.userButtonBar {
	display: inline-block;
	margin: 0em auto;
	padding: 0em;
}

.fixed-panel {
	min-height: 55em;
	max-height: 55em;
	overflow-y: auto;
}

.search-bars {
	margin: 1em;
}

.user-search-addon {
	min-width: 3em;
	max-width: 3em;
}

.user-panel-header {
	padding: .125em .25em;
}

.user-panel-body {
	padding: .125em 0em;
	text-align: center;
}