.profileContainer {
	position:absolute;
	top: 5%;
	left: 22.5%;
}

.profile {
	border: .0625em solid lightgray;
		border-radius: 1em;
	
	box-shadow: 0em	0em .5em darkgray;
	background: azure;
}

.userData {
	margin: auto;
}

.editButton {
	display: inline;
	position: relative;

	float: right;

	top: .5em;
	left: .25em;

	margin: 0em .125em;
	border: none;
		border-radius:.25em;
	padding: .125em .5em .125em .5em;

	background: lightcoral;

	font-size: x-small;
	color: black;
}

.modal-header-danger {
	color: #a94442;
  	border-color: #ebccd1;
}

.modal-danger {
	color: #a94442;
	background-color: #f2dede;
  	border-color: #ebccd1;
  	border-radius: 6px;
}