<form name="newForm" class="form-horizontal">
	<div class="form-group"
		 ng-class="{'has-success': newForm.first.$valid,
		 			'has-error': newForm.first.$invalid &&
		 						 newForm.first.$dirty}">
		<label for="firstName"
			   class="col-md-5 form-label">First Name:</label>
		<div class="col-md-7">	
			<div class="input-group">
				<input type="text"  
					   class="form-control input-sm"
					   name="first"
					   id="firstName"
					   ng-model="user.firstName" 
					   placeholder="First name"
					   required
					   ng-maxlength=32>
				<span class="input-group-addon input-addon">
					<span class="glyphicon glyphicon-ok form-control-feedback input-glyphicon"
						  ng-show="newForm.first.$valid"></span>
					<span class="glyphicon glyphicon-ban-circle form-control-feedback input-glyphicon"
						  ng-show="newForm.first.$invalid &&
					  		       newForm.first.$dirty"></span>
				</span>
			</div>
		</div>
	</div>
	<div class="form-group"
		 ng-class="{'has-success': newForm.last.$valid,
		 			'has-error': newForm.last.$invalid &&
		 						 newForm.last.$dirty}">	
		<label for="lastName"
			   class="col-md-5 form-label">Last Name:</label>
		<div class="col-md-7">	
			<div class="input-group">
				<input type="text" 
					   class="form-control input-sm"
					   name="last"
					   id="lastName"
					   ng-model="user.lastName" 
					   placeholder="Last name"
					   required
					   ng-maxlength=32>
				<span class="input-group-addon input-addon">
					<span class="glyphicon glyphicon-ok form-control-feedback input-glyphicon"
						  ng-show="newForm.last.$valid"></span>
					<span class="glyphicon glyphicon-ban-circle form-control-feedback input-glyphicon"
						  ng-show="newForm.last.$invalid &&
					  		       newForm.last.$dirty"></span>
				</span>
			</div>
		</div>
	</div>
	<div class="form-group"
		 ng-class="{'has-success': newForm.phone.$valid,
		 	    	'has-error': newForm.phone.$invalid &&
		 	    				 newForm.phone.$dirty}">	
		<label for="phone"
			   class="col-md-5 form-label">Phone Number:</label>
		<div class="col-md-7">
			<div class="input-group">	
				<input type="tel" 
					   class="form-control input-sm"
					   name="phone"
					   id="phone"
					   ng-model="user.phone" 
					   placeholder="xxx-xxx-xxxx"
					   required
					   ng-minlength=10
					   ng-maxlength=15>
				<span class="input-group-addon input-addon">
					<span class="glyphicon glyphicon-ok form-control-feedback input-glyphicon"
						  ng-show="newForm.phone.$valid"></span>
					<span class="glyphicon glyphicon-ban-circle form-control-feedback input-glyphicon"
						  ng-show="newForm.phone.$invalid &&
					  		       newForm.phone.$dirty"></span>
				</span>
			</div>
		</div>
	</div>
	<div class="form-group"
		 ng-class="{'has-success': newForm.email.$valid,
		 			'has-error': newForm.email.$invalid &&
		 						 newForm.email.$dirty}">	
		<label for="email"
			   class="col-md-5 form-label">Email Address:</label>
		<div class="col-md-7">
			<div class="input-group">	
				<input type="email" 
					   class="form-control input-sm"
					   name="email"
					   id="email"
					   ng-model="user.email" 
					   placeholder="user@domain.com"
					   required
					   ng-minlength=6>
				<span class="input-group-addon input-addon">
					<span class="glyphicon glyphicon-ok form-control-feedback input-glyphicon"
						  ng-show="newForm.email.$valid"></span>
					<span class="glyphicon glyphicon-ban-circle form-control-feedback input-glyphicon"
						  ng-show="newForm.email.$invalid &&
					  		       newForm.email.$dirty"></span>
				</span>
			</div>
		</div>
	</div>
	<a ui-sref="users" 
	   class="btn btn-success pull-right"
	   ng-disabled="newForm.$invalid || newForm.$pristine"
	   ng-click="console.log(user); addUser(user)">Add User</a>
</form>